
body{
	background-color: #fefefe;
	display: flex;
	justify-content: center;

}

.container{
	width: 800px;
	background-color: #f0f0f0;
	border-radius: 25px;
}
header{
	height: 190px;
	background-image: url(Img/header.jpg);
	border-radius: 25px;

}

.title{
	display: flex;

}
.avatar{
	width: 80px;
	margin: 20px;
}
.text_title{
	font-size: 40px;
	font-family: sans-serif;
}
nav{
	display: flex;
	justify-content: flex-end;
}

.menu{
	border: #fff solid 2px;
	border-radius: 25px;
	width: 430px;
}

.menu_li{
	display: inline;
}

.menu_a{
	margin-right: 10px;
	color:#fff;
	font-size: 28px;
	font-family: sans-serif;
	list-style-type: none;
	text-decoration: none;
}

.menu_a:hover{
	color:#6ff;
}


footer{
	height: 100px;
	border-radius: 0px 0px 25px 25px;
	background-color: #333;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.footer_text{
	width: 430;
	font-size: 18px;
	color:#fff;
	margin-right: 25px;
}



.article{
	padding: 15px;
	background-color: #fff;
	border-radius: 15px;
	margin:25px 15px;
}

.article_min{
	font-size: 16px;
	padding: 5px;
	background-color: #fff;
	border-radius: 5px;
	margin: 5px 5px;
}

.products{
	display: flex;
	flex-wrap: wrap;
	margin: 25px 15px;
	background-color: #fff;
	border-radius: 25px;
}

.product{
	width: 335px;
	margin:23px;
	border: transparent solid 2px;
	border-radius: 15px;
}

.product:hover{
	border: #888 solid 2px;
}

.product_a{
	display: flex;
	color:#666;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
}

.img_product{
	width: 120px;
	border-radius: 15px;
}

h2{
	text-align: center;
	color: #232323;
	font-size: 36px;
	font-family: sans-serif;
	width: 350px;
	background-color: #e0e0e0;
	border-radius: 25px;
}

.phote_product{
	width: 350px;
	border: #888888 solid 1px;
	border-radius: 25px;
}


.info{
	padding: 15px;
	background-color: #fff;
	border-radius: 15px;
	margin:25px 15px;
	font-family: sans-serif;
	list-style-image: url(Img/apple_marker.png);
}

.briefly{
	width: 350px;
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

table{
	border: #888888 solid 2px;
	border-radius: 10px;
}

td:first-child{
	background-color: #e0e0e0;

}

td.headline_info_table{
	background-color: #a8a8a8;
	text-align: center;
}

.content_li{
	list-style-type:none;
}

.button{
	text-align: center;
	color: #232323;
	font-size: 24px;
	font-family: sans-serif;
	background-color: #e0e0e0;
	border-radius: 5px;
}

.shop{
	font-size: 36px;
	width: 300px;
	border-radius: 25px;
}

.shop_min{
	font-size: 20px;
	width: 100px;
	height:30px;
	border-radius: 15px;
}

.button:hover{
	color: #ffffff;
	background-color: #30a0f0;
	border-color: #00a0a0;
}

.button:active{
	background-color: #30f0f0;
}

fieldset{
	border: #e0e0e0 solid 2px;
	border-radius: 15px;
}

legend{
	border: #e0e0e0 solid 2px;
	color: #232323;
	font-size: 36px;
	font-family: sans-serif;
	background-color: #e0e0e0;
	border-radius: 25px;
}

.contact_li{
	width: 200px;
	list-style-type: none;

}

.field{
	font-family: sans-serif; 
	font-size: 20px;
	width: 250px;
	border-radius: 5px;
}

.input_name{
	text-transform: capitalize;
}

.field:hover{
	color: #232323;
	background-color: #e0e0e0;
}

.field:focus{
	background-color: #30a0f0;
	color: #ffffff;
	border-color: #00a0a0;
}

textarea{
 	width: 500px;
 	border: #888888 solid 2px;
	border-radius: 10px;
}

h3{
	width: 280px;
	border: #e0e0e0 solid 2px;
	color: #232323;
	font-size: 36px;
	font-family: sans-serif;
	background-color: #e0e0e0;
	border-radius: 25px;
}

.contact{
	font-family: sans-serif;
}


